<h1>U-Life</h1>

<p>Hi there</p>

<p>
Welcome to the U-Life! Click on the link below to join our community:
</p>

<%= link_to "Join U-Life", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>